@media only screen and (max-width: 900px) {
	.governanca-ti {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
	}
	.governanca-ti img {
		margin: 0;
		width: 100%;
	}
	header nav a {
		color: #fff;
		padding: 0px;
	}
	header nav li {
		font-size: 14px;
	}
	header h1#logo {
		background: url(../img/logo.png) center/66px no-repeat;
	}
}

@media only screen and (max-width: 767px) {
	.bg-topo,.bg-2{
		height: 25vh;
	}
	.lista-desk {
		display: none !important;
	}
	.logo-bottom {
		float: none;
		width: auto;
		margin: 0;
	}
	.sobre h1 {
		font-size: 1.3em;
	}
	.row-cop {
		font-size: 12px;
	}
}