* {
	text-decoration: none!important;
}
body {
	background-color: #f5f5f5;
	font-family: 'Lato', sans-serif;
}
img {
	max-width: 100%;
}
.clearfix:after {
	display: block;
	content: "";
	clear: both;
	height: 0;
}
.container{
	padding-left: 0;
	padding-right: 0;

}
/* =Header
-------------------------------------------------------------- */
header {
	width: 100%;
	height: 140px;
	float: left;
	top: 0;
	left: 0;
	/*	padding: 3% 4%;*/
	background-color: #242225;
	position: fixed;
	z-index: 10;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
header nav a {
	margin: 0 auto;
	color: white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
header nav a:hover {
	color: white;
}
header nav {
	position: relative;
	top: 50px;
	right: 50px;
}
header nav ul {
	float: right;
}
header nav li {
	padding: 10px;
	display: inline-block;
}
header.smaller {
	height: 95px;
}
header.smaller h1#logo {
	height: 95px;
	background: url(../img/logo.png) center/66px no-repeat;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
header.smaller nav a {
	top: -30px;
}
header h1#logo {
	position: relative;
	width: 136px;
	height: 136px;
	left: 2%;
	float: left;
	background: url(../img/logo.png) center/86px no-repeat;
	font-size: 0px;
}
.btn-menu {
	width: 56px;
	height: 56px;
	text-align: center;
	background: none;
	float: right;
	position: relative;
	color: #fff;
	top: 40px;
	right: 5%;
	font-size: 1.6em;
}
.hvr-overline-from-center:before {
	background: #f5f503!important;
}
/* =Menu lateral
-------------------------------------------------------------- */
.hide-menu {
	width: 0%!important;
}
.hide-menu a {
	opacity: 0;
}
#menu-topo {
	margin-top: 5px;
	color: #FFF;
	font-size: 0.9em;
	width: 100%;
}
.menu-sidebar {
	position: fixed;
	width: 35%;
	background-color: #242225;
	margin-left: 0px;
	overflow: hidden;
	height: 100vh;
	max-height: 100vh;
	right: 0;
	transition: .5s ease-in-out;
	z-index: 10;
}
.menu-sidebar a {
	color: aliceblue;
	transition: .2s ease;
}
.menu-sidebar ul li {
	padding: 15px;
	text-align: center;
}
.fa-times {
	padding: 2%;
	font-size: 1.7em;
	color: #FFF;
	opacity: .6;
	cursor: pointer;
	overflow: hidden;
}
.fa-times:hover {
	opacity: 1;
}
/* =Corpo
-------------------------------------------------------------- */
.sobre {
	position: relative;
	top: 7em;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}

.fraternidade {
	text-align: center;
}
.fraternidade h1 {
	font-size: 30px;
}
.fraternidade p {
	padding : 1em 0 1em 0;

	text-align: justify;
	/*    margin-top: 10px;*/
}
.eventos p {
	font-size: 18px;
	color: #d15353;
}
.banners {
	top: 140px;
}
.governanca-ti {
	height: auto;
	padding: 10px;
	margin: 30px 10px;
	text-align: justify;
	overflow: hidden;
}
.governanca-ti:nth-child(even) {
	background-color: rgba(212, 212, 212, 0.45);
	border-radius: 5px;
}
.governanca-ti img {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
	margin-right: 10px;
}
.governanca-ti#img-right img {
	margin-left: 10px;
}
.governanca-ti p {}
.governanca-ti #h1-right {
	text-align: right!important;
}
.input-group-addon {
	font-size: 12px;
	line-height: 1;
}
.titulo {
	position: relative;
	font-size: 12px;
	display: flex;
	width: 74px;
	margin: 0 auto;
}
.eventos {
	margin-bottom: 50px;
}
.formulario {
	width: 90%;
}
.enviar {
	float: right;
	margin-right: -15px;
	width: 120px;
	background-color: rgb(76, 160, 108);
	font-weight: 600;
	border-radius: 5px;
	transition: .5s;
}
.azul {
	color: #25abff;
}
/* =Footer
-------------------------------------------------------------- */
.rodape {
	margin-top: 20px;
	color: aliceblue;
}
.rodape h4 {
	padding: 5px;
	border-bottom: 1px solid rgba(212, 212, 212, 0.46);
}
.row-color {
	background-color: #171F26;
	height: 250px;
	overflow: hidden;
}
footer .row {
	position: relative;
	top: 240px;
	overflow-x: hidden;
	width: 100%;
	margin-left: 0px;
}
.row-cop {
	border-top: 1px solid rgba(46, 46, 46, 0.87);
	height: 40px;
	background-color: #0f1317;
	overflow: hidden;
}
.row-cop p {
	text-align: center;
	overflow: hidden;
	line-height: 2;
}
.logo-bottom {
	float: right;
	width: 100px;
	height: 100px;
	margin-top: 20px;
}
.news-wrap {
	display: block;
}

#topo-img {

	overflow: hidden;
}
