@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
	text-decoration: none !important;
}

a:focus,
a:hover {
	color: #ccc;
}

body {
	background-color: #f5f5f5;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

html {
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

/* =Header
-------------------------------------------------------------- */

header {
	width: 100%;
	height: 140px;
	float: left;
	top: 0;
	left: 0;
	background-color: #242225;
	position: fixed;
	z-index: 10;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}

header nav a {
	margin: 0 auto;
	color: white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

header nav a:hover {
	color: white;
}

header nav ul {
	float: right;
}

header nav li {
	padding: 10px;
	display: inline-block;
}

header h1#logo {
	position: relative;
	width: 136px;
	height: 136px;
	left: 5vw;
	float: left;
	background: url(../img/logo.png) center/86px no-repeat;
	font-size: 0px;
}

header nav a:hover {
	color: #fff;
}

header.smaller {
	height: 85px;
}

header.smaller h1#logo {
	height: 80px;
	line-height: 75px;
	background: url(../img/logo.png) center/60px no-repeat
}

header.smaller.list-unstyled {
	margin: 1em;
}

.list-unstyled {
	margin: 2em;
	/* margin-right: 5em; */
}

.alertify-notifier .ajs-message {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 1em;
	padding: 1em;
	transition: all .3s;
}

.btn-menu {
	width: 56px;
	height: 56px;
	text-align: center;
	background: none;
	float: right;
	position: relative;
	color: #fff;
	top: 40px;
	right: 5%;
	font-size: 1.6em;
}

.hvr-overline-from-center:before {
	background: #f5f503 !important;
}

/* =Menu lateral
-------------------------------------------------------------- */

.hide-menu {
	width: 0% !important;
}

.hide-menu a {
	opacity: 0;
}

.menu-sidebar {
	position: fixed;
	width: 50vw;
	background-color: #242225;
	margin-left: 0px;
	overflow: hidden;
	height: 100vh;
	max-height: 100vh;
	right: 0;
	transition: .5s ease-in-out;
	z-index: 10;
}

.menu-sidebar a {
	color: aliceblue;
	transition: .2s ease;
}

.menu-sidebar ul li {
	padding: 15px;
	text-align: center;
}

.fa-times {
	padding: .325em;
	font-size: 2.5em;
	color: #FFF;
	opacity: .6;
	cursor: pointer;
}

.fa-times:hover {
	opacity: 1;
}

/* =Corpo
-------------------------------------------------------------- */

.bg-topo {
	background: url('/img/frat1.jpg');
	min-height: 50vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.bg-2 {
	background: url('/img/projetos.jpg');
	min-height: 45vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sobre {
	position: relative;
	top: 9em;
	margin: 0 auto;
}

.fraternidade {
	text-align: center;
}

.fraternidade p {
	padding: 1em 0;
}

.eventos p {
	font-size: 18px;
	color: #d15353;
}

.banners {
	top: 140px;
}

.governanca-ti {
	height: auto;
	padding: 1.5em .75em;
	margin: 1em 0;
	text-align: justify;
	box-shadow: 2px 3px 8px rgba(0, 0, 0, .2);
}

.governanca-ti:nth-child(even) {
	background-color: rgba(212, 212, 212, 0.45);
	border-radius: 5px;
}

.governanca-ti img {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
	margin: 0 1em;
}

.governanca-ti p {
	font-family: 'Nunito Sans', sans-serif;
}

.mandamentos {
	background: #1c2d41;
	position: relative;
	color: white;
}

.mandamento-list {
	max-width: 800px;
	text-align: left;
	margin: 0 auto;
}

.mandamentos-wrap {
	box-shadow: 2px 8px 5px #d2d2d2;
}

.mandamentos::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #1c2d41;
	width: 100%;
	height: 75%;
	transform: skewY(-5deg);
	transform-origin: 0%;
	z-index: -1;
}

.input-group-addon {
	font-size: 12px;
	line-height: 1;
}

.eventos {
	margin-bottom: 5em;
}

.formulario {
	max-width: 800px;
	margin-bottom: 15em;
	padding: 0 2em;
}

.enviar {
	float: right;
	margin-right: -15px;
	width: 120px;
	font-weight: 600;
	border-radius: 5px;
	transition: .5s;
	cursor: pointer;
	border: none;
}

.azul {
	color: #25abff;
}

/* =Footer
-------------------------------------------------------------- */

.rodape {
	color: aliceblue;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.row-color {
	background-color: #171F26;
	padding: 2em 0;
}

footer .row {
	/* position: relative; */
	top: 240px;
	overflow: hidden;
	width: 100%;
	margin-left: 0px;
	background-color: #171F26;
}

.row-cop {
	border-top: 1px solid rgba(46, 46, 46, 0.87);
	height: 40px;
	background-color: #0f1317;
	overflow: hidden;

}

.row-cop p {
	color: #ccc;
	text-align: center;
	line-height: 2;
}